.theImg {
  width: 50vh;
  height: 30vh;
  box-shadow: 1px 1px 3px 1px grey;
}

.country {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 20vh auto;
  padding: 2vh;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country_h2 {
  margin: 1vh;
  margin-left: 2vh;
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(53, 53, 53);
}

.container_section {
  width: 70vh;
}

.section_principal {
  display: flex;
}

.section_one p {
  margin: 1vh;
  padding: 1vh;
}
.section_two {
  margin-top: 4vh;
}
.section_two p {
  margin: 1vh;
  padding: 1vh;
}

.borders {
  margin: 1vh;
  padding: 1vh;
}

p {
  font-family: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
.theCountry_active{
  background-color: red;
}
.theCountry_active h2 {
  color: white;
}

.theCountry_active {
  color: rgb(255, 255, 255);
}

.theCountry_active span {
  color: rgb(187, 187, 187);
}

span {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.border_continer {
  font-family: sans-serif;
  color: rgb(68, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.borders_active {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hola{
  font-family: sans-serif;
  font-size: 14px;
  border: none;
  box-shadow: 1px 1px 2px 1px rgb(214, 214, 214);
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(209, 209, 209);
  cursor: pointer;
  margin-left: 2vh;
  margin-top: 1vh;
}



@media (max-width: 800px) {
  .country {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
   
  }
  .section_principal {
    display: flex;
    margin: auto;
    width: max-content;
    flex-direction: column;
  }

  .container_section {
    width: 100%;
  }
  .theImg {
    width: 100%;
  }

}
