.theImg {
  width: 50vh;
  height: 30vh;
  box-shadow: 1px 1px 3px 1px grey;
}

.country {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 20vh auto;
  padding: 2vh;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country_h2 {
  margin: 1vh;
  margin-left: 2vh;
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(53, 53, 53);
}

.container_section {
  width: 70vh;
}

.section_principal {
  display: flex;
}

.section_one p {
  margin: 1vh;
  padding: 1vh;
}
.section_two {
  margin-top: 4vh;
}
.section_two p {
  margin: 1vh;
  padding: 1vh;
}

.borders {
  margin: 1vh;
  padding: 1vh;
}

p {
  font-family: 18px;
  font-family: sans-serif;
  font-weight: bold;
}

span {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 800px) {
  .country {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section_principal {
    display: flex;
    margin: auto;
    width: max-content;
    flex-direction: column;
  }

  .container_section{
      width: 100%;
  }
  .theImg{
      width: 100%;
  }
}
